<!DOCTYPE HTML>
<html xmlns>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>Input your name</div>
<form type ="post" action="greeting">
    <input type="text" name = "name" placeholder="Input your name"/>
    <input type="submit" value = "Login"/>
</form>

</body>
</html>

